@import "./vars.scss";
@import "./mixins.scss";

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: inherit;
  background: radial-gradient(circle at 50% 50%, rgba(99, 170, 238, 0.20) 0%, rgba(99, 170, 238, 0.20) 0.01%, rgba(14, 37, 59, 0.20) 100%), #0E0E0F;
  background-position: 50%,50%;
	// background-image: url(../../app/123.png);

}

h1 {
	color: $white;
}

html {
	height: 100%;
	margin: 0;
  font-size: 62.5%;

}


div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer,hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
