@import "../../../app/styles/vars.scss";
@import "../../../app/styles/mixins.scss";

.wrapper {
  margin: 0 auto;
  height: calc(100vh - 10rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  padding: 5rem;

  margin: 0;
  width: 76rem;
  height: auto;

  display: flex;
  flex-direction: column;

  border-radius: 2rem;

  background-color: $white;

  position: relative;
  z-index: 2;

  &:before {
    content: " ";
    width: 76rem;
    max-height: 47rem;

    background-color: $white;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  @include breakpoint($laptop) {
    margin: 0rem 8rem;
  }

  @include breakpoint($tablet) {
    margin: 0rem 4rem;
  }

  @include breakpoint($mobile) {
    margin: 0rem 2rem;
  }
}

.progressBar__conteiner {
  margin-bottom: 3rem;
  width: 100%;
  height: 1.2rem;

  border-radius: 2rem;
  background: #eeeeee;
}

.quiz__title {
  margin-bottom: 3rem;

  font-size: 2.6rem;
  font-weight: 600;
}

.quiz__progressBar {
  height: 1.2rem;

  border-radius: 2rem;
  background: linear-gradient(to right, #8cbaff, #ff9a9a);
  transition: width 0.4s ease-in-out;
}

.quiz__asnwers {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  li {
    cursor: pointer;

    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 300;

    text-transform: capitalize;

    border: 0.1rem solid #d9d9d9;
    border-radius: 1rem;

    transition: color 0.1s ease-in-out, background 0.1s ease-in-out,
      border 0.1s ease-in-out;

    &:hover {
      color: white;

      background: #93b9fa;
      border: 0.1rem solid #c6d6f1;
    }
  }
}
