@import "../../../app/styles//vars.scss";
@import "../../../app/styles//mixins.scss";
@import "../../../app/styles//global.scss";


.header {
  padding: 1.5rem 12rem;
  width: 100%;
  backdrop-filter: blur(.3rem);

  display: block;

  background-color: inherit;
  position: relative;
  z-index: 1000;

  @include breakpoint($laptop) {
    padding: 1.5rem 8rem;
  }

  @include breakpoint($tablet) {
    padding: 1.5rem 4rem;
  }

  @include breakpoint($mobile) {
    padding: 1.5rem 2rem;
  }

}

.header__nav {
  width: 100%;
  height: auto;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.header__nav_item {
  display: flex;

  align-items: center;
  text-align: center;

  gap: 2rem;

  li {
    cursor: pointer;

    display: flex;
    vertical-align: center;
    align-items: center;

    gap: 1rem;

    a {
      text-decoration: none;

      font-size: 1.5rem;
      font-weight: 300;
      color: $white;
      transition: color .1s ease-out;

      &:hover {
        color: rgb(197, 197, 197);
      }
    }
    span {
      color: $white;
      transition: color .1s ease-out;

    }
  }

  li:hover span {
      color: rgb(197, 197, 197);
  }

  .header__img {
    width: 1.4rem;
    height: 1.4rem;

    object-fit: contain;
    transition: transform .1s ease-in-out;

  }

  img {
    width: 4rem;
    height: auto;

    object-fit: cover;
  }
}

.header__nav_logo {
  display: flex;
  gap: 1.5rem;
  text-align: center;
  align-items: center;

  img {
    border-radius: 0;
    transition:  border-radius .1s ease-out;

  }

  &:hover img {
    border-radius: 50%;

  }
}

//open nav -> subnav

.header__nav_li {
  position: relative;
}

.header__nav_subnav {
  overflow: hidden;
  display: none;
  padding: 2rem 1.5rem;

  display: flex;

  align-items: left;
  text-align: left;
  text-transform: capitalize;


  width: 20rem;
  height: 25rem;

  background-color: rgba(98, 98, 98, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 1rem;

  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 2;

  opacity: 0;
}

.subnav {
  overflow: auto;

  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 3rem;

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(85, 89, 93, 1);
    border-radius: 1rem;

  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
  }

  li {
    padding-right: .5rem;
  }
}

// toggle styles

.openLecture {
  opacity: 1;
  color: rgb(197, 197, 197);
  transition: opacity 1s ease-in-out;
}

.openLectureImg  {
  transform: rotateX(180deg);
}

